<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background">
  <div class="container pt-9 pb-8">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <h1 id="main-text" class="display-4 mb-4"> <%= t("landing.welcome").html_safe %></h1>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 mb-5 align-top">
            <h3 class="font-weight-normal ml-4 mt-3 text-right"><%= t("landing.enterid") %></h3>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <form name="myForm" onsubmit="Jump(); return false;">
              <div class="input-group">
                <input required="required" value="" class="form-control join-form" placeholder="aaa-bbb-ccc" value="" autofocus="autofocus" type="text" name="mID">
                <span class="input-group-append">
                  <input type="submit" value=<%= t("room.join") %> class="btn btn-primary btn-sm px-7 form-control join-form">
                </span>
              </div>
            </form>
          </div>
        </div>
        <br>

        <script type="text/javascript">
          function Jump(){
            var b = location.href.match(/b\/$/) ? '' : 'b/';
            var rid = document.myForm.mID.value.replace(/-/g,'').replace(/(...)(?!$)/g, '$1-');
            location.href = b + rid;
            return;
          }
        </script>
        
        <p class="lead offset-lg-2 col-lg-8 col-sm-12 "><%= t("landing.about", href: link_to(t("greenlight"), "https://bigbluebutton.org/2018/07/09/greenlight-2-0/", target: "_blank", rel: "noopener")).html_safe %></p>
        <%= link_to "https://youtu.be/Hso8yLzkqj8", target: "_blank" do %>
          <h4><%= t("landing.video") %> <i class="far fa-play-circle ml-1"></i></h4>
        <% end %>
      </div>

    </div>
  </div>
</div>

<%= render "main/components/features" %>
