<div class="container">

  <% if current_user %>
	  <h1 id="user-text" class="display-3 text-center text-primary"><%= "Welcome, #{current_user.firstname}." %></h1>
    <%= render "shared/modals/create_room_modal" %>
  <% else %>
    <h1 id="main-text" class="display-3 text-center text-primary">Teach Students Online.</h1>
    <%= render "shared/modals/video_modal" %>
  <% end %>
  <hr class="small-rule">

  <!-- <%= render "shared/start_meeting" %> -->

  <br>

  <%= render "shared/features" %>
</div>

<script>
$(window).on('load',function(){
  $('#welcomeModal').modal('show');
});

textOptions = [
  "Start your own Meeting.",
  "Collaborate with Friends.",
  "Connect in Real-Time.",
  "Teach Students Online.",
]

textOpt = 0

var changeText = function(){
  $('#main-text').text(textOptions[textOpt]);
  $('#main-text').fadeIn(1000)
  textOpt++;
  if (textOpt > textOptions.length) { textOpt = 0; }
}

setInterval(function(){
  $('#main-text').fadeOut(1000, changeText)
}, 7000);
</script>
