<% unless flash.empty? %>
  <%= render "shared/error_banner" do %>
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key} d-inline" %>
    <% end %>
  <% end %>
<% end %>

<div class="container pt-9 pb-4">
  <div class="row pb-8">
    <div class="col-md-8 col-sm-12">
      <p id="main-text" class="font-weight-400 display-4"><%= t("landing.welcome").html_safe %></p>
      <p class="text-muted h4" style="line-height: 22px;"><%= t("landing.about", href: link_to(t("bigbluebutton"), "http://bigbluebutton.org/", target: "_blank", class: "text-blue")).html_safe %></p>
      <br>
      <%= link_to "https://youtu.be/Hso8yLzkqj8", target: "_blank" do %>
        <h4><%= t("landing.video") %> <i class="far fa-play-circle"></i></h4>
      <% end %>
    </div>
    <div class="col-md-4 col-sm-12 img-cycle text-center">
      <%= image_tag("landing/world.png", class: "active") %>
      <%= image_tag("landing/bbb.png") %>
      <%= image_tag("landing/mobile.png") %>
    </div>
  </div>
  <%= render "shared/features" %>
</div>

<script>
var cycleImages = function(){
  var images = $('.img-cycle img');
  var now = images.filter(':visible');
  var next = now.next().length ? now.next() : images.first();
  var speed = 1500;

  now.fadeOut(speed);
  next.fadeIn(speed);
}

$(function() {
  setInterval(cycleImages, 5000);
});
</script>
