<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="form-group">
  <div class="row">
    <div class="col-12">
      <div class="mb-7 form-group">
        <label class="form-label"><%= t("administrator.site_settings.branding.title") %></label>
        <label class="form-label text-muted"><%= t("administrator.site_settings.branding.info") %></label>
        <div class="input-group">
          <input id="branding-url" type="text" class="form-control" value="<%= logo_image %>">
          <span class="input-group-append">
            <button id="branding-image" onclick="changeBrandingImage('<%= admin_branding_path %>')" class="btn btn-primary" type="button"><%= t("administrator.site_settings.branding.change") %></button>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="form-label"><%= t("administrator.site_settings.color.title") %></label>
        <label class="form-label text-muted"><%= t("administrator.site_settings.color.info") %></label>
        <div class="row gutters-xs">
          <div class="col-auto">
            <input id="coloring-path" value="<%= admin_coloring_path %>" hidden>
            <input id="user-colour" value="<%= user_color %>" hidden/>
            <div class="colorinput">
              <span class="colorinput-color" style="background: <%= user_color %>;">
                <i class="p-1 fas fa-paint-brush"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
