<% content_for :title do %>
  <div class="title">
    <h2><%= t('log_in') %></h2>
  </div>
<% end %>

<div class="page-wrapper login">
  <div class="container-fluid">

    <div class="center-panel-wrapper">
      <%= render layout: 'shared/center_panel' do %>
        <div class="center-block center-panel-content-size col-xs-12">
          <% if omniauth_providers_configured(:twitter) %>
            <%= link_to '/auth/twitter', class: "signin-link signin-link-twitter" do %>
              <div class="signin-button center-block">
                <div class="signin-icon-wrapper">
                  <%= image_tag("twitter_signin_logo.png", alt: "T", class: "signin-icon") %>
                </div>
                <div class="signin-text-wrapper text-center">
                  <span class="signin-text"><%= t('signin_text', provider: 'Twitter') %></span>
                </div>
              </div>
            <% end %>
          <% end %>
          <% if omniauth_providers_configured(:google) %>
              <%= link_to '/auth/google', class: "signin-link signin-link-google" do %>
                <div class="signin-button center-block">
                  <div class="signin-icon-wrapper">
                    <%= image_tag("g-normal.png", alt: "G", class: "signin-icon") %>
                  </div>
                  <div class="signin-text-wrapper text-center">
                    <span class="signin-text"><%= t('signin_text', provider: 'Google') %></span>
                  </div>
                </div>
              <% end %>
          <% end %>
        </div>
      <% end %>
    </div>


  </div>
</div>
