<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="container">
  <div class="row pt-7">
    <div class="col col-md-4 col-sm-12 mx-auto">
      <div class="card">
        <div class="card-header background">
          <h4 class="mt-2"><%= t("reset_password.subtitle") %></h4>
        </div>
        <div class="card-body background">
          <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>

            <%= hidden_field_tag :email, @user.email %>

            <%= f.label :password, t('reset_password.password'), class: "form-label" %>
            <%= f.password_field :password, class: 'form-control' %>
            <br>

            <%= f.label :password_confirmation, t('reset_password.confirm'), class: "form-label" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
            <br>

            <%= f.submit t('reset_password.update'), class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
