<div class="container">

  <h1>Proband Name : <%= @neelz_proband_name %></h1>
  <h1>Proband Email: <%= @neelz_proband_email %></h1>
  <h1>Int. Name: <%= @neelz_interviewer_name %></h1>
  <h1>Code: <%= @neelz_room_access_code %></h1>
  <h1>Proband Email: <%= @neelz_proband_email %></h1>
  <h1>URL: <%= @neelz_proband_access_url %></h1>
  <h1>Study: <%= @neelz_name_of_study %></h1>
  <h1>Attendee PW: <% @room.get_attendee_pw %></h1>
</div>