<!DOCTYPE html>
<html>
  <head>
    <title>Saudi Sabura</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Open Graph Attributes -->
    <meta property="og:title" content="<%= page_title %>" />
    <meta property="og:description" content="<%= t('opengraph.description') %>" />
    <meta property="og:image" content="<%= branding_image %>" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "main", defer: true %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

