<%# TODO: Amir - Revisit this (i18n, styling, template,, add in logo, ...). %>

<div style="text-align:center; font-family:'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif">
  <div style="display:inline-block; background-color:#F5F7FB; border:1px solid #d3d3d3; padding: 25px 70px">

    <h1 style="margin-bottom:30px"><%= t('email.invitation.line0') %></h1>

    <p><%= t('email.invitation.line1', name: @name) %></p>

    <p><%= t('email.invitation.line2') %></p>

    <p style="margin-bottom:35px;"><%= t('email.invitation.line3') %></p>

    <a style="color: #ffffff; padding: 10px 15px; box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);border: 1px solid transparent;text-decoration:none;" href="<%= @signup_url %>">
      <%= t('email.invitation.line4') %>
    </a>
  </div>
</div>