<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2016 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<% content_for :title do %>
  <div class="title">
    <h2>
      <% if admin? && !@meeting_running %>
        <%= t('admin_room_title', user: @user.name) %>
      <% else %>
        <%= t('user_person_room', name: @user.name) %>
      <% end %>
    </h2>
  </div>
<% end %>

<%= render layout: 'shared/center_panel' do %>
  <div class="center-block center-panel-content-size col-xs-12">
    <% if admin? %>
      <%= render 'shared/meeting_name_form' %>
      <div class="row">
        <%= render 'landing/previously_joined' %>
      </div>
      <div class="row">
        <%= render 'landing/invite_join' %>
      </div>
    <% else %>
      <div class="text-center">
        <div><%= t('are_you', name: @user.name) %></div>
        <div class=""><%= link_to t('login'), user_login_url %></div>
      </div>
    <% end %>
  </div>
<% end %>
