

<% content_for :title do %>
  <div class="title">
    <h2 id = 'title-header'>
      <% if admin? && !@meeting_running %>
        <%= t('admin_room_title', user: @user.name) %>
      <% else %>
        <%= t('user_person_room', name: @user.name) %>
      <% end %>
    </h2>
  </div>
<% end %>

<%= render layout: 'shared/center_panel' do %>
  <div class="center-block center-panel-content-size col-xs-12">
    <% if admin? %>
      <%= render 'shared/meeting_name_form' %>
      <div class="row">
        <%= render 'landing/previously_joined' %>
      </div>
      <div class="row">
        <%= render 'landing/invite_join' %>
      </div>
    <% else %>
      <div class="text-center">
        <div><%= t('are_you', name: @user.name) %></div>
        <div class=""><%= link_to t('login'), user_login_url %></div>
      </div>
    <% end %>
  </div>
<% end %>
