

<% content_for :title do %>
  <div class="title">
    <h2><%= t('landing_titles').values[rand(t('landing_titles').size)] %></h2>
  </div>
<% end %>

<div class="page-wrapper meetings">
  <div class="container-fluid">

    <div class="center-panel-wrapper">
      <%= render layout: 'shared/center_panel' do %>
        <div class="center-block center-panel-content-size col-xs-12">
          <%= render 'shared/meeting_name_form' %>

          <div class="row">
            <%= render 'landing/previously_joined' %>
          </div>

          <div class="row">
            <%= render 'landing/invite_join' %>
          </div>

        </div>
      <% end %>
    </div>

    <% if omniauth_providers_configured.present? %>
      <div class="center-block col-xs-6 login">
        <%= render 'shared/signup' %>
      </div>
    <% end %>


  </div>
</div>
