<!--
BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
Copyright (c) 2016 BigBlueButton Inc. and by respective authors (see below).
This program is free software; you can redistribute it and/or modify it under the
terms of the GNU Lesser General Public License as published by the Free Software
Foundation; either version 3.0 of the License, or (at your option) any later
version.

BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
You should have received a copy of the GNU Lesser General Public License along
with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
-->

<% content_for :title do %>
  <div class="title">
    <h2><%= t('create_session') %></h2>
  </div>
<% end %>

<% content_for :footer do %>
  <div class="panel-footer hidden">
    <div class="list-group text-center">
      <h4><%= t('previously_joined_meetings') %></h4>
      <ul class="previously-joined"></ul>
    </div>
  </div>
<% end %>

<div class="page-wrapper meetings">
  <div class="container-fluid">

    <div class="center-panel-wrapper">
      <%= render layout: 'shared/center_panel' do %>
        <div class="center-block center-panel-content-size col-xs-12">
          <%= render 'shared/meeting_url', hidden: false %>
          <%= render 'shared/join_form' %>
        </div>
      <% end %>
    </div>

    <div class="center-block col-xs-6 login">
      <div class="text-center">
        <span class="login-text"><%= t('login_description') %></span> <%= link_to 'Login', '/users/login', class: 'btn btn-lg btn-primary' %>
      </div>
    </div>

  </div>
</div>
