<div class='container'>

  <!-- Body -->
  <div class='body'>

    <div class="container">
      <div class="jumbotron">
        <!-- Meeting URL -->
        <% if @refreshable %>
        <h4 class="display-3">
          <div id="landing_page_url" class="center-block">
            <form id="url_form" class="form-inline">
              <div class="form-group">
                <span id="meeting_url"><%= @meeting_url %></span>
              </div>
              <button id="url_form_button" type="button" class="btn btn-default" data-url="<%= new_meeting_url() %>">
                <span class="glyphicon glyphicon-refresh"></span>
              </button>
            </form>
          </div>
        </h4>
        <% end %>

        <!-- Join form -->
        <div id="landing_page_join">
          <form id="join_form" class="form-inline">
            <div class="form-group">
              <label for="join_form_name" class="sr-only">Name</label>
              <input id="join_form_name" type="text" class="form-control input" id="name" placeholder="Your name" required>
            </div>
            <button id="join_form_button" type="button" class="btn btn-success" data-url="<%= bbb_join_path(@meeting_token) %>">Join</button>
          </form>
        </div>
      </div>

      <figure class=highlight><pre><figcaption class="text" data-lang="text">
        <p>Hi Everyone</p>
        <p>The meeting will be at this URL</p>
        <p><a id="text_meeting_url" href="<%= @meeting_url %>"><%= @meeting_url %></a></p>
        <p>Please join!</p>
      </figcaption></pre></figure>

      <div id="landing_page_footer_message">
        <p>Bookmark this page to reuse this meeting URL, or click refresh button to generate a new meeting URL</p>
      </div>

      <div id="landing_page_footer_oauth_append">
        <% if current_user.nil? %>
        <p>You can have a personal URL (with recordings) by signing in below</p>
        <ul>
          <li><%= link_to 'Twitter', '/auth/twitter' %></li>
          <li><%= link_to 'Google', '/auth/google' %></li>
        </ul>
        <% else %>
          <div>Hello <%= current_user.name %></div>
          <div><%= link_to 'Personal Room', current_user.room_url %></div>
          <div><%= link_to 'Logout', '/logout' %></div>
        <% end %>
      </div>

    </div>

  </div>

</div>
