

<% content_for :title do %>
  <div class="title">
    <h2><%= "\"#{@meeting_id}\"" %></h2>
  </div>
<% end %>

<% content_for :footer do %>
  <div class="panel-footer">
    <div class="text-center">
      <%= link_to t('create_your_session'), root_path %>
    </div>
  </div>
<% end %>

<div class="page-wrapper meetings" data-id="<%= @meeting_id %>">
  <div class="container-fluid">

    <div class="center-panel-wrapper">
      <%= render layout: 'shared/center_panel' do %>
        <div class="center-block center-panel-content-size col-xs-12">
          <%= render 'shared/meeting_url', hidden: true %>
          <%= render 'shared/join_form' %>
        </div>
      <% end %>
    </div>

    <%= render 'shared/signup' %>

  </div>
</div>
