<% content_for :title do %>
  <div class="title">
    <%= t('hi_all') %>
  </div>
  <small>
    <%= t('session_url_explanation') %>
  </small>
<% end %>

<% if !@meeting_id %>
  <% content_for :footer do %>
    <div class="panel-footer">
      <div class="text-center">
        <%= t('refresh_html') %>
      </div>
    </div>
  <% end %>
<% end %>

<div class="page-wrapper meetings" data-id="<%= @meeting_id %>">
  <div class="container-fluid">

    <div class="center-panel-wrapper">
      <%= render layout: 'shared/center_panel' do %>
        <div class="center-block center-panel-conent-size col-xs-12">
          <%= render 'shared/meeting_url', hidden: false %>
          <%= render 'shared/join_form' %>
        </div>
      <% end %>
    </div>

  </div>
</div>
