<!-- Body -->
<div class='body'>

  <div class="page-wrapper room">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-10">
        <% if !current_user.nil? %>
          <span class="user">Hello <%= current_user.name %></span>
          <%= link_to "Logout", user_logout_url() %>
          <% if current_user.username %>
            <div><%= link_to 'Personal Room', current_user.room_url %></div>
          <% else %>
            <div><%= link_to 'Set Username', edit_user_path(current_user) %></div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <%= render 'landing/join_form' %>

    <%= render 'landing/footer_message' %>

    <%= render 'landing/footer_oauth_append' %>
  </div>

</div>
