

<div class="center-panel-wrapper">

  <%= render layout: 'shared/center_panel' do %>

    <div class="center-block center-panel-content-size col-xs-12">
      <h1><%= t('preferences') %></h1>
      <br>

      <% if @user %>
        <div class="upload-form">
          <p> <%= t('background_image') + ": " + (@user.background_file_name || '')  %> </p>
          <%= form_for @user, :html => { :multipart => true } do |f| %>
            <div class="form-group">
              <%= f.file_field :background, class: 'form-control'%>
            </div>
            <%= f.submit t('upload'), class: 'btn btn-info' %>
          <% end %>
        </div>
      <% else %>
        <h3><%= t('preferences_logged') %></h3>
      <% end %>
      <br><br>
      <%= link_to t('back'), @user ? meeting_room_url(resource: 'rooms', id: @user.encrypted_id) : root_url, class: 'btn btn-info' %>
    </div>

  <% end %>
</div>
