<% if current_user %>
  <% page_title = t('greet_user', name: current_user.name) %>
<% else %>
  <% page_title= t('greet_guest', name: @user.username) %>
<% end %>

<div class="page-wrapper rooms" data-id="<%= @user.encrypted_id %>">
  <div class="container-fluid">

    <%= render 'shared/title', title: page_title %>

    <div class="center-panel-wrapper">
      <%= render 'rooms_center_panel' %>
    </div>

    <div class="table-wrapper">
      <h3><%= t('past_recordings') %></h3>
      <table id="recordings" class="table" width="100%">
        <thead>
          <th><%= t('date_recorded') %></th>
          <th><%= t('thumbnails') %></th>
          <th><%= t('duration') %></th>
          <th><%= t('views') %></th>
          <th><%= t('actions') %></th>
        </thead>
      </table>
    </div>
  </div>
</div>

<div hidden class="hidden-elements">
  <div class="delete-popover-body">
    <button type="button" class="btn btn-danger recording-delete">
      <%= t('yes') %>
    </button>
    <button type="button" class="btn btn-default">
      <%= t('no') %>
    </button>
  </div>
  <div class="alert-template">
    <div class="alert alert-success alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <span class="alert-message"></span>
    </div>
  </div>
  <div class="recording-actions">
    <button type="button" class="btn btn-default recording-update bottom-tooltip" data-published="">
        <i class="fa" aria-hidden="true"></i>
    </button>
    <a tabindex="0" role="button" class="btn btn-default has-popover bottom-tooltip"
      data-placement="top" title="<%= t('delete_recording') %>">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
    </a>
  </div>
</div>
