<% if current_user %>
  <% page_title = "Welcome, #{current_user.name.split(' ').first}" %>
<% else %>
  <% page_title = "Welcome to #{@user.ownership_name} Meeting Space" %>
<% end %>

<% content_for :title do %>
  <div class="title">
    <% if current_user == @user %>
      Start a new session
    <% elsif current_user && current_user != @user %>
      <%= "Join #{@user.ownership_name} session" %>
    <% else %>
      Join the current session
    <% end %>
  </div>
<% end %>

<div class="page-wrapper rooms" data-room="<%= @user.username %>">
  <div class="container-fluid">

    <%= render 'shared/title', title: page_title %>

    <div class="center-panel-wrapper">
      <%= render layout: 'shared/center_panel' do %>
        <div class="center-block col-sm-8">
          <% if current_user == @user %>
            <%= render 'shared/meeting_url', hidden: false %>
          <% else %>
            <%= render 'shared/meeting_url', hidden: true %>
          <% end %>
          <%= render 'shared/join_form', user: current_user %>
        </div>
      <% end %>
    </div>

    <div class="table-wrapper">
      <h3>Past Recordings</h3>
      <table id="recordings" class="table" width="100%"></table>
    </div>
  </div>
</div>
