<!--
BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
Copyright (c) 2016 BigBlueButton Inc. and by respective authors (see below).
This program is free software; you can redistribute it and/or modify it under the
terms of the GNU Lesser General Public License as published by the Free Software
Foundation; either version 3.0 of the License, or (at your option) any later
version.

BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
You should have received a copy of the GNU Lesser General Public License along
with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
-->

<% if current_user %>
  <% page_title = t('greet_user', name: current_user.name) %>
<% else %>
  <% page_title= t('greet_guest', name: @user.username) %>
<% end %>

<div class="page-wrapper rooms" data-main-room="<%= @main_room %>" data-id="<%= @meeting_id %>" data-admin-id="<%= @user.encrypted_id %>">
  <div class="container-fluid">

    <div class="center-panel-wrapper">
      <% if @main_room %>
        <%= render 'rooms_center_panel' %>
      <% else %>
        <%= render 'rooms_meetings_center_panel' %>
      <% end %>
    </div>

    <%= render 'shared/signup' %>

    <div class="table-wrapper">
      <table id="recordings" class="table" width="100%">
        <thead>
          <th><%= t('date_recorded') %></th>
          <th><%= t('meeting') %></th>
          <th><%= t('thumbnails') %></th>
          <th><%= t('duration') %></th>
          <th><%= t('watch') %></th>
          <th>published</th>
          <th><%= t('actions') %></th>
        </thead>
      </table>
    </div>
  </div>
</div>

<div hidden class="hidden-elements">
  <div class="delete-popover-body">
    <button type="button" class="btn btn-danger recording-delete" data-dismiss="popover">
      <%= t('yes') %>
    </button>
    <button type="button" class="btn btn-default" data-dismiss="popover">
      <%= t('no') %>
    </button>
  </div>
  <div class="recording-visibility-popover">
    <button type="button" class="btn btn-default btn-danger recording-update" data-visibility="unpublished">
      <%= t('unpublished') %>
    </button>
    <button type="button" class="btn btn-default btn-warning recording-update" data-visibility="unlisted">
      <%= t('unlisted') %>
    </button>
    <button type="button" class="btn btn-default btn-success recording-update" data-visibility="published">
      <%= t('published') %>
    </button>
  </div>
  <div class="alert-template">
    <div class="alert alert-success alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <span class="alert-message"></span>
    </div>
  </div>
  <div class="recording-actions">
    <button type="button" class="btn btn-default has-popover recording-update-trigger"
            data-placement="left" data-popover-body=".recording-visibility-popover"
            data-popover-title="<%= t('change_recording_visibility') %>">
      <i class="fa fa-eye" aria-hidden="true"></i>
    </button>
    <a tabindex="0" role="button" class="btn btn-default has-popover delete-tooltip"
       data-placement="top" data-popover-body=".delete-popover-body"
       data-popover-title="<%= t('are_you_sure') %>">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
    </a>
  </div>
</div>
