<!-- Body -->
<div class='body'>

  <div class="page-wrapper room">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-10">
        <% if admin? %>
          <span class="user">Hello <%= current_user.name %></span>
          <%= link_to "Logout", user_logout_url() %>
        <% else %>
          <%= link_to "Login", "/auth/twitter" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <%= render 'landing/join_form' %>

    <%= render 'landing/sharing_text' %>

    <%= render 'landing/footer_message' %>
  </div>

</div>

