<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="modal fade" id="createRoomModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <div class="modal-body">
        <div class="card-body p-6">
          <div class="card-title">
            <h3 class="create-only"><%= t("modal.create_room.title") %></h3>
            <h3 class="update-only"><%= t("modal.room_settings.title") %></h3>
          </div>

          <%= form_for(:room, url: rooms_path) do |f| %>
            <div class="input-icon mb-2">
              <span class="input-icon-addon">
                <i class="fas fa-chalkboard-teacher"></i>
              </span>
              <%= f.text_field :name, id: "create-room-name", class: "form-control", value: "", placeholder: t("modal.create_room.name_placeholder"), autocomplete: :off %>
              <div class="invalid-feedback text-left"><%= t("modal.create_room.not_blank") %></div>
            </div>

            <% if Rails.configuration.room_features.include? "default-client" %>
              <label class="mt-3 mb-3 w-100 text-left d-inline-block">
                <input type="hidden" name="room[client]" id="room_client">
                <span id="room-settings-dropdown-label" class="custom-switch-description"><%= t("modal.room_settings.client")%></span>
                <div id="dropdown-div" class="dropdown float-right">
                  <button id="dropdown-trigger" type="button" class="btn btn-secondary dropdown-toggle px-4" data-toggle="dropdown">
                    <%= t("modal.room_settings.default")%>
                  </button>
                  <div class="dropdown-menu">
                    <button type=button class="dropdown-item" onclick="updateDropdown($(this))" value="default"><%= t("modal.room_settings.default")%></button>
                    <button type=button class="dropdown-item" onclick="updateDropdown($(this))" value="html5"><%= t("modal.room_settings.html")%></button>
                    <button type=button class="dropdown-item" onclick="updateDropdown($(this))" value="flash"><%= t("modal.room_settings.flash")%></button>
                  </div>
                </div>
              </label>
            <% end %>

            <% if Rails.configuration.room_features.include? "mute-on-join" %>
              <label class="custom-switch pl-0 mt-3 mb-3 w-100 text-left d-inline-block">
                <span class="custom-switch-description"><%= t("modal.room_settings.mute")%></span>
                <%= f.check_box :mute_on_join, class: "custom-switch-input", checked: false %>
                <span class="custom-switch-indicator float-right"></span>
              </label>
            <% end %>

            <label id="auto-join-label" class="create-only custom-switch pl-0 mt-3 mb-3 w-100 text-left d-inline-block">
              <span class="custom-switch-description"><%= t("modal.create_room.auto_join") %></span>
              <%= f.check_box :auto_join, class: "custom-switch-input", checked: false %>
              <span class="custom-switch-indicator float-right"></span>
            </label>
          <div class="mt-4">
            <%= f.submit t("modal.create_room.create"), id: "create-room-submit", class: "create-only btn btn-primary btn-block" %>
            <%= f.submit t("modal.room_settings.update"), id: "create-room-submit", class: "update-only btn btn-primary btn-block" %>
          </div>
          <% end %>
        </div>
        <div class="card-footer">
          <p class="create-only"><%= t("modal.create_room.free_delete") %></p>
          <p class="update-only"><%= t("modal.room_settings.footer_text") %></p>
        </div>
      </div>
    </div>
  </div>
</div>
