<div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <div class="modal-body">
        <div class="card-body p-6">
          <div class="card-title text-primary">
            <h3>Login</h3>
          </div>

          <hr class="small-rule">
          <% configured_providers.each do |provider| %>
            <%= link_to omniauth_login_url(provider), class: "btn btn-pill btn-#{provider} btn-block" do %>
               <i class="fab fa-<%= provider %>"></i>&ensp;<%= "Login with #{provider.capitalize}" %>
            <% end %>
          <% end %>

          <hr>
          <%= form_for(:session, url: create_session_path) do |f| %>
            <div class="form-group">
              <div class="input-icon">
                <span class="input-icon-addon">
                  <i class="fas fa-at"></i>
                </span>
                <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
              </div>
            </div>

            <div class="form-group">
              <div class="input-icon">
                <span class="input-icon-addon">
                  <i class="fas fa-key"></i>
                </span>
                <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
              </div>
            </div>

            <div class="form-footer">
              <%= f.submit "Login", class: "btn btn-outline-primary btn-block btn-pill" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
