<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="modal fade" id="mergeUserModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <div class="modal-body">
        <div class="card-body p-6">
          <div class="card-title">
            <h3><%= t("modal.merge_user.title") %></h3>
          </div>
          <select id="merge-user-select" class="selectpicker" title="<%= t("modal.share_access.select") %>" data-live-search="true" data-virtual-scroll="true" data-path="<%= merge_list_path %>">
          </select>
          <div class="mt-5 text-left row">
            <div class="list-group-item col-6 text-center">
              <label class="form-label text-primary"><%= t("modal.merge_user.from") %></label>
               <div id="merge-from"></div>
            </div>
            <i id="merge-account-arrow" class="fas fa-2x fa-arrow-circle-right text-primary"></i>
            <div class="list-group-item col-6 text-center">
              <label class="form-label text-primary"><%= t("modal.merge_user.to") %></label>
               <div id="merge-to"></div>
            </div>
          </div>
          <div class="mt-6">
            <button id="merge-save-access" class="btn btn-primary btn-block" onclick="mergeUsers()" ><%= t("modal.merge_user.save") %></button>
            <button class="btn btn-secondary text-primary btn-block" onclick="$('#mergeUserModal').modal('hide')"><%= t("modal.merge_user.cancel") %></button>
          </div>
        </div>
        <div class="card-footer">
          <p><%= t("modal.merge_user.footer") %></p>
        </div>
      </div>
    </div>
  </div>
</div>
