<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div data-room-uid="<%= room.uid %>" data-room-settings=<%= room.room_settings %> data-room-access-code="<%= room.access_code %>" class="card room-block">
  <div class="card-body p-1">
    <table class="table table-hover table-vcenter text-wrap table-no-border">
      <tbody class="no-border-top">
        <td>
          <span class="stamp stamp-md bg-primary">
            <i class="fas fa-share-alt"></i>
          </span>
        </td>
        <td>
          <div id="room-name">
            <h4 contenteditable="false" class="m-0 force-text-normal" ><%= room.name %></h4>
          </div>
          <div class="small text-muted text-break">
            <%= t("room.shared_by", email: room.owner.name) %>
          </div>
        </td>
        <td class="text-right">
          <div class="item-action dropdown" data-display="static">
            <a href="javascript:void(0)" data-toggle="dropdown" data-display="static" class="icon">
              <i class="fas fa-ellipsis-v px-4"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-md-left">
              <a href="" data-toggle="modal" data-target="#removeAccessModal" class="remove-share-room dropdown-item" data-path="<%= room_remove_shared_access_path(room) %>">
                <i class="dropdown-icon far fa-trash-alt"></i> <%= t("remove") %>
              </a>
            </div>
          </div>
        </td>
      </tbody>
    </table>
  </div>
</div>
