<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2016 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= t('.hi', name: @user.name) %></p>
    <p><%= t('.phrase1') %></p>
    <table>
      <tr>
        <td align='right'><%= t('.table.name') %></td>
        <td><b><%= @recording[:name] %></b></td>
      </tr>
      <tr>
        <td align='right'><%= t('.table.length') %></td>
        <td><b><%= t('.table.length_value', value: @recording[:length]) %></b></td>
      </tr>
      <tr>
        <td align='right'><%= t('.table.started') %></td>
        <td><b><%= Time.parse(@recording[:start_time]).utc %></b></td>
      </tr>
      <tr>
        <td align='right'><%= t('.table.ended') %></td>
        <td><b><%= Time.parse(@recording[:end_time]).utc %></b></td>
      </tr>
      <tr>
        <td align='right'><%= t('.table.users') %></td>
        <td><b><%= @recording[:participants] %></b></td>
      </tr>
    </table>
    <br>
    <table style = "padding:0 15px 0 15px;">
      <tr>
        <th style = "padding:0 15px 0 15px;"><b><%= t('.user_table.user') %></b></th>
        <th style = "padding:0 15px 0 15px;"><b><%= t('.user_table.role') %></b></th>
        <th style = "padding:0 15px 0 15px;"><b><%= t('.user_table.join') %></b></th>
        <th style = "padding:0 15px 0 15px;"><b><%= t('.user_table.left') %></b></th>
        <th style = "padding:0 15px 0 15px;"><b><%= t('.user_table.duration') %></b></th>
      </tr>
      <% @duration.each do |user| %>
        <tr>
          <td style = "padding:0 15px 0 15px;"><%= user[1]['name'] %></td>
          <td style = "padding:0 15px 0 15px;"><%= user[1]['role'].downcase.capitalize %></td>
          <td style = "padding:0 15px 0 15px;"><%= Time.at(user[1]['join'] / 1000).strftime("%H:%M:%S") %></td>
          <td style = "padding:0 15px 0 15px;"><%= Time.at(user[1]['left'] / 1000).strftime("%H:%M:%S") %></td>
          <td style = "padding:0 15px 0 15px;"><%= Time.at(user[1]['duration'] / 1000).utc.strftime("%H:%M:%S") %></td>
        </tr>
      <% end %>
    </table>
    <br>
    <p><%= (t('thumbnails') + ':') if @recording[:previews].length > 0 %></p>
    <% @recording[:previews].each do |preview| %>
      <img style = "display:inline;" src = "<%= preview[:url] %>" alt = "<%= preview[:alt] %>">
    <% end %>
    <p><%= t('.phrase2') %></p>
    <p style="text-align:center;"><%= link_to(@recording[:playbacks][0][:url], @recording[:playbacks][0][:url]) %></p>
    <p><%= t('.phrase3_html') %></p>
    <p><%= t('.phrase4') %></p>
    <p style="text-align:center;"><%= link_to(@room_url, @room_url) %></p>
    <p><%= t('.phrase5') %></p>
    <p><%= t('.closing') %></p>
    --
    <p><%= t('.footer.phrase1') %></p>
    <p><%= t('.footer.phrase2_html', url: link_to("http://bigbluebutton.org/", "http://bigbluebutton.org/")) %></p>
  </body>
</html>
