<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<%#<div style="position: fixed; botton:0; width: 100%; height: 100%; background-image: url(http://www.nglc.co.in/wp-content/uploads/2020/06/test_image.png);height: 688px; width: 1897px "> </div>%>

<div class="container mt-8 mb-6 text-center">

  <h2 class="mb-6"><%= t("E-Baithak") %> <%= t("features.title") %></h2>

  <div class="row feature-stamp">
    <div class="col-lg-3 col-md-6">
      <div class="feature-item">
        <div class="stamp bg-primary"><i class="fas fa-chalkboard-teacher fa-2x"></i></div>
        <h4 class="mt-4"><%= t("features.rooms") %></h4>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-film fa-2x"></i></span>
      <h4 class="mt-4"><%= t("features.recordings") %></h4>
    </div>
    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-pencil-alt fa-2x"></i></span>
      <h4 class="mt-4"><%= t("features.designs") %></h4>
    </div>
    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-door-open fa-2x"></i></span>
      <h4 class="mt-4"><%= t("features.authentication") %></h4>
    </div>
  </div>
</div>

<% #kumar editing Front page customization image background %>
<br>
<br>
<br>

<% #<div style="background-image: url("https://www.lendingkart.com/wp-content/uploads/2019/08/school-loans-1024x328.png?x92702"); "></div> %>
<% #<div style="background-image: url(https://www.lendingkart.com/wp-content/uploads/2019/08/school-loans-1024x328.png?x92702); height: 200px; width: 400px; border: 1px solid black;">Example of a DIV element with a background image:</div> %>
<% #<div style="background-image: url(http://www.nglc.co.in/wp-content/uploads/2020/06/test_image.png);height: 688px; width: 1897px "> </div> %>

<% #kumar editing Front page customization video background %>

<%#<div style="position: fixed; top:0; width: 100%; height: 100%; z-index: -1;">
    <video id="video" controls="" preload="none" poster="http://media.w3.org/2010/05/sintel/poster.png" style="width:100%; height:100%">
      <source id="mp4" src="http://media.w3.org/2010/05/sintel/trailer.mp4" type="video/mp4">
    </video>
</div>
<div class='content'>
    I'm content!! :D 
</div>
%>
<br>
<br>
<br>
<br>
<br>
<br>


<% #kumar editing customization 2nd block industry support features %>

<div class="container mt-8 mb-6 text-center">

  <h2 class="mb-6"><%= t("E-Baithak") %> <%= t("features1.title") %></h2>
  <div class="row feature-stamp">
    <div class="col-lg-3 col-md-6">
      <div class="feature-item">
        <div class="stamp bg-primary"><i class="fas fa-chalkboard-teacher fa-2x"></i></div>
        <h4 class="mt-4"><%= t("features1.industry1") %></h4>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-film fa-2x"></i></span>
      <h4 class="mt-4"><%= t("features1.industry2") %></h4>
    </div>
    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-pencil-alt fa-2x"></i></span>
      <h4 class="mt-4"><%= t("features1.industry3") %></h4>
    </div>
    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-door-open fa-2x"></i></span>
      <h4 class="mt-4"><%= t("features1.industry4") %></h4>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
