<div class="container mt-8">

  <%= render "shared/components/subtitle", subtitle: "Settings", search: false %>

  <div class="row">
    <div class="col-lg-3 mb-4">
      <div class="list-group list-group-transparent mb-0">
        <button id="account" class="list-group-item list-group-item-action setting-btn active">
          <span class="icon mr-3"><i class="fe fe-user"></i></span>Account
        </button>

        <% if @user.social_uid.nil? %>
          <button id="password" class="list-group-item list-group-item-action setting-btn">
            <span class="icon mr-3"><i class="fe fe-lock"></i></span>Password
          </button>
        <% end %>

        <button id="design" class="list-group-item list-group-item-action setting-btn">
          <span class="icon mr-3"><i class="fe fe-edit-2"></i></span>Design
        </button>
      </div>
  
      <% if @user.errors.any? %>
        <h5 class="mt-8">Errors:</h5>
        <ul>
        <% @user.errors.full_messages.each do |err| %>
          <li class="text-danger"><%= err %>.</li>
        <% end %>
        </ul>
      <% end %>

      <div class="mt-8">
        <%= render 'shared/flash_messages' unless flash.empty? %>
      </div>
    </div>


    <div class="col-lg-9">
      <%= render "shared/settings/setting_view", setting_id: "account", setting_title: "Update your Account Info" %>

      <% if @user.social_uid.nil? %>
        <%= render "shared/settings/setting_view", setting_id: "password", setting_title: "Change your Password" %>
      <% end %>

      <%= render "shared/settings/setting_view", setting_id: "design", setting_title: "Customize GreenLight" %>
    </div>
  </div>
</div>

<script>
settingsButtons = $('.setting-btn');
settingsViews = $('.setting-view');

$(document).ready(function(){
  settingsButtons.each(function(i, btn) {
    if(i != 0){ $(settingsViews[i]).hide(); }
    $(btn).click(function(){
      $(btn).addClass("active");
      settingsViews.each(function(i, view){
        if($(view).attr("id") == $(btn).attr("id")){
          $(view).show();
        } else {
          $(settingsButtons[i]).removeClass("active");
          $(view).hide();
        }
      });
    });
  });
});
</script>
