<% content_for :title do %>
  <div class="title">
    Enter your Username below
  </div>
<% end %>

<div class="page-wrapper user-edit">
  <div class="container-fluid">

    <%= render 'shared/title', title: 'Complete User Profile' %>

    <%= render layout: 'shared/center_panel' do %>
      <div class="center-block col-sm-8">
        <%= form_for(@user) do |f| %>
          <div class="input-group">
            <%= f.text_field :username, placeholder: "Username", class: "form-control input" %>
            <span class="input-group-btn">
              <%= f.submit class: "btn btn-success", value: "Save" %>
            </span>
          </div>
        <% end %>
        <div class="error">
          <p><%= @error %></p>
        </div>
      <% end %>
    </div>

  </div>
</div>
