<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="container pt-6">
  <%= render "shared/components/subtitle", subtitle: t("settings.title"), search: false %>

  <div class="row">
    <div class="col-lg-3 mb-4">
      <div class="list-group list-group-transparent mb-0">

        <button id="account" class="list-group-item list-group-item-action setting-btn <%= "active" if !params[:setting] || params[:setting] == "account"%>">
          <span class="icon mr-3"><i class="fas fa-user"></i></span><%= t("settings.account.title") %>
        </button>

        <% if @user.social_uid.nil? %>
          <button id="password" class="list-group-item list-group-item-action setting-btn <%= "active" if params[:setting] == "password"%>">
            <span class="icon mr-3"><i class="fas fa-lock"></i></span><%= t("settings.password.title") %>
          </button>
        <% end %>

        <button id="delete" class="list-group-item list-group-item-action setting-btn <%= "active" if params[:setting] == "delete"%>">
          <span class="icon mr-3"><i class="fas fa-trash-alt"></i></span><%= t("settings.delete.title") %>
        </button>
      </div>

      <% if @user.errors.any? %>
        <h5 class="mt-8"><%= t("errors.title") %>:</h5>
        <ul>
        <% @user.errors.full_messages.each do |err| %>
          <li class="text-danger"><%= err %>.</li>
        <% end %>
        </ul>
      <% end %>
    </div>


    <div class="col-lg-9">
      <%= render "shared/settings/setting_view", setting_id: "account", setting_title: t("settings.account.subtitle") %>

      <% if @user.social_uid.nil? %>
        <%= render "shared/settings/setting_view", setting_id: "password", setting_title: t("settings.password.subtitle") %>
      <% end %>

      <%= render "shared/settings/setting_view", setting_id: "delete", setting_title: t("settings.delete.subtitle") %>
    </div>
  </div>
</div>
