<div class="container mt-8">

  <%= render "shared/components/subtitle", subtitle: "Settings", search: false %>

  <div class="row">
    <div class="col-lg-3 mb-4">
      <div class="list-group list-group-transparent mb-0">
        <%= link_to edit_user_path(@user, setting: "account"), id: "account", class: "list-group-item list-group-item-action setting-btn" do %>
          <span class="icon mr-3"><i class="fe fe-user"></i></span>Account
        <% end %>

        <%= link_to edit_user_path(@user, setting: "image"), id: "image", class: "list-group-item list-group-item-action setting-btn" do %>
          <span class="icon mr-3"><i class="fe fe-image"></i></span>Profile Image
        <% end %>

        <% if @user.social_uid.nil? %>
          <%= link_to edit_user_path(@user, setting: "password"), id: "password", class: "list-group-item list-group-item-action setting-btn" do %>
            <span class="icon mr-3"><i class="fe fe-lock"></i></span>Password
          <% end %>
        <% end %>

        <%= link_to edit_user_path(@user, setting: "design"), id: "design", class: "list-group-item list-group-item-action setting-btn" do %>
          <span class="icon mr-3"><i class="fe fe-edit-2"></i></span>Design
        <% end %>
      </div>
  
      <% if @user.errors.any? %>
        <h5 class="mt-8">Errors:</h5>
        <ul>
        <% @user.errors.full_messages.each do |err| %>
          <li class="text-danger"><%= err %>.</li>
        <% end %>
        </ul>
      <% end %>

      <div class="mt-8">
        <%= render 'shared/flash_messages' unless flash.empty? %>
      </div>
    </div>


    <div class="col-lg-9">
      <%= render "shared/settings/setting_view", setting_id: "account", setting_title: "Update your Account Info" %>
      <%= render "shared/settings/setting_view", setting_id: "image", setting_title: "Change your Profile Image" %>

      <% if @user.social_uid.nil? %>
        <%= render "shared/settings/setting_view", setting_id: "password", setting_title: "Change your Password" %>
      <% end %>

      <%= render "shared/settings/setting_view", setting_id: "design", setting_title: "Customize GreenLight" %>
    </div>
  </div>
</div>

<script>
/*
// Helper for grabbing URL params.
$.urlParam = function(name){
  var results = new RegExp('[\?&]' + name + '=([^]*)').exec(window.location.href);
  if (results==null){
    return null;
  } else {
    return results[1] || 0;
  }
}

settingsViews = $('.setting-view');

$(document).ready(function(){
  var setting = $.urlParam("setting");

  /*if (!["account", "image", "password", "design"].includes(setting)){
    var url = [location.protocol, '//', location.host, location.pathname].join('');
    window.location.href = url + "?setting=account";
  }
  if (!["account", "image", "password", "design"].includes(setting)){ setting = "account"; }

  $("#" + setting).addClass("active");

  settingsViews.each(function(i, view){
    if($(view).attr("id") != setting){
      $(view).hide();
    }
  });
});*/
</script>
