<div class="container">

  <%= render "shared/components/subtitle", subtitle: "Settings" %>

  <div class="row">
    <div class="col-2 offset-1">
      <button id="account" class="setting-btn btn btn-primary btn-sm btn-block m-2">Account</button>
      <button id="password" class="setting-btn btn btn-primary btn-sm btn-block m-2">Password</button>
      <button id="design" class="setting-btn btn btn-primary btn-sm btn-block m-2">Design</button>
    </div>

    <div class="col-8">
      <div id="account" class="setting-view card">
        <div class="card-body p-6">
          <div class="card-title text-primary">
            <h4>Update your Account</h4>
          </div>
          <hr>
          <div class="form-group">
            <div class="row">
              <div class="col-6">
                <label class="form-label">Fullname</label>
                <div class="input-icon">
                  <span class="input-icon-addon">
                    <i class="fas fa-user"></i>
                  </span>
                  <input type="text" class="form-control" value="<%= current_user.name %>" placeholder="Fullname">
                </div>
              </div>
              <div class="col-6">
                <label class="form-label">Email</label>
                <div class="input-icon">
                  <span class="input-icon-addon">
                    <i class="fas fa-at"></i>
                  </span>
                  <input type="email" class="form-control" value="<%= current_user.email %>" placeholder="Email">
                </div>
              </div>
            </div>
            <br>
            <label class="form-label">Account Provider</label>
            <input type="text" class="form-control" value="<%= current_user.provider.capitalize %>" readonly="">
            <br>
            <label class="form-label">Profile Image</label>
            <span class="avatar avatar-xl" style="background-image: url(<%= current_user.image %>)"></span>
          </div>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary float-right">Update</a>
        </div>
      </div>

      <div id="password" class="setting-view card">
        <div class="card-body p-6">
          <div class="card-title text-primary">
            <h4>Change your Password</h4>
          </div>
          <hr>
          <div class="form-group">
            <div class="row">
              <div class="col-9">
                <label class="form-label">Old Password</label>
                <input type="password" class="form-control">
                <br>
                <label class="form-label">New Password</label>
                <input type="password" class="form-control"> 
                <br>
                <label class="form-label">New Password Confirmation</label>
                <input type="password" class="form-control"> 
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary float-right">Update</a>
        </div>
      </div>

      <div id="design" class="setting-view card">
        <div class="card-body p-6">
          <div class="card-title text-primary">
            <h4>Customize Greenlight</h4>
          </div>
          <hr>
          <div class="form-group">
            <div class="row">
              <div class="col-6">

              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary float-right">Update</a>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
settingsButtons = $('.setting-btn');
settingsViews = $('.setting-view');

$(document).ready(function(){
  settingsButtons.each(function(i, btn) {
    if(i != 0){ $(settingsViews[i]).hide(); }
    $(btn).click(function(){
      settingsViews.each(function(i, view){
        if($(view).attr("id") == $(btn).attr("id")){
          $(view).show();
        } else {
          $(view).hide();
        }
      });
    });
  });
});
</script>
