<div class="container">
  <h3><%= t 'lti.registrations.titles.general' %>
    <button class="btn btn-default btn-sm pull-right" onclick="$('input:checkbox').prop('checked', true)">Check All</button>
    <button class="btn btn-default btn-sm pull-right" onclick="$('input:checkbox').prop('checked', false)">Uncheck All</button>
    <br><br>
  </h3>
  <form method="post" action="<%= lti_save_capabilities_path(reg_key: params['reg_key'], reg_password: @reg_pw) %>">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <%-# Add lti tool consumer info that was sent to previous controller but uncommited -%>
    <input type="hidden" name="lti_message_type" value="<%= params['lti_message_type'] %>"/>
    <input type="hidden" name="lti_version" value="<%= params['lti_version'] %>"/>
    <input type="hidden" name="tc_profile_url" value="<%= params['tc_profile_url'] %>"/>
    <input type="hidden" name="launch_presentation_return_url" value="<%= params['launch_presentation_return_url'] %>"/>
    <input type="hidden" name="launch_presentation_document_target" value="<%= params['launch_presentation_document_target'] %>"/>

    <div class="ibox-title">
      <strong><%= t('lti.registrations.labels.resource') %></strong>
    </div>
    <div class="ibox ibox-content">
    <% @resources.each do |name, _| %>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="true" name="resources[<%= name %>][enabled]">
          <%= name.pluralize %>
        </label>
      </div>
    <% end %>
    </div>

    <% if @capabilities[:placements].length > 0 %>
    <div class="ibox-title">
      <strong><%= t 'lti.registrations.labels.placement' %></strong>
    </div>
    <div class="ibox ibox-content">
    <% @capabilities[:placements].each do |cap| %>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="true" name="placements[Canvas.placements.<%= cap %>][enabled]">
          <%= display_cap(cap) %>
        </label>
      </div>
    <% end %>
    </div>
    <% end %>

    <% if @capabilities[:parameters].length > 0 %>
    <div id="parameters">
    <div class="ibox-title">
      <strong><%= t 'lti.registrations.labels.parameter' %></strong>
    </div>
    <div class="ibox-content">
    <table class="table table-condensed" style="background-color: white;">
      <thead>
      <tr>
        <th class="text-center"><%= t 'lti.registrations.headers.state' %></th>
        <th><%= t 'lti.registrations.headers.field_name' %></th>
        <th><%= t 'lti.registrations.headers.variable' %></th>
      </tr>
      </thead>
      <tbody>
      <% @capabilities[:parameters].each do |cap| %>
        <tr>
          <td class="text-center" style="line-height: 2.2;">
            <label style="display: block;">
              <input type="checkbox" value="true" name="variable_parameters[<%= cap %>][enabled]"/>
            </label>
          </td>
          <td>
            <p class="form-static"><%= cap.downcase.gsub('.', '_') %></p>
          </td>
          <td style="line-height: 2.2;"><%= cap %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
    </div>
    <% end %>
    <div style="padding-top: 15px; margin-top: 15px; border-top: 1px solid #DDDDDD;">
      <input type="submit" class="btn btn-primary" value="<%= t 'lti.registrations.buttons.continue' %>">
    </div>
  </form>
</div>

<%= content_for :javascript do %>
<script>
$("#resource").change(function() {
  var opt_params = $("#resource").find(":checked").attr("opt");
  // hide params based on selection
  if (opt_params.length > 0) {
    $("#parameters").removeClass('hide');
    $.each($("tbody").children(), function(i, param) {
      if (!opt_params.includes($(param).children()[2].innerText)) {
        $(param).addClass('hide');
      } else {
        $(param).removeClass('hide');
      }
    });
  } else {
    $("#parameters").addClass('hide');
  }
});
</script>
<% end %>
