<form method="post" action="<%= lti_save_capabilities_path(reg_key: params['reg_key'], reg_password: @reg_pw) %>" name="registration">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <%-# Add lti tool consumer info that was sent to previous controller but uncommited -%>
  <input type="hidden" name="lti_message_type" value="<%= params['lti_message_type'] %>"/>
  <input type="hidden" name="lti_version" value="<%= params['lti_version'] %>"/>
  <input type="hidden" name="tc_profile_url" value="<%= params['tc_profile_url'] %>"/>
  <input type="hidden" name="launch_presentation_return_url" value="<%= params['launch_presentation_return_url'] %>"/>
  <input type="hidden" name="launch_presentation_document_target" value="<%= params['launch_presentation_document_target'] %>"/>
</form>

<body onload="document.registration.submit()">

<%= content_for :javascript do %>
<script>
$("#resource").change(function() {
  var opt_params = $("#resource").find(":checked").attr("opt");
  // hide params based on selection
  if (opt_params.length > 0) {
    $("#parameters").removeClass('hide');
    $.each($("tbody").children(), function(i, param) {
      if (!opt_params.includes($(param).children()[2].innerText)) {
        $(param).addClass('hide');
      } else {
        $(param).removeClass('hide');
      }
    });
  } else {
    $("#parameters").addClass('hide');
  }
});
</script>
<% end %>
