<div class="center-panel">
  <div class="row">
    <div class="center-block center-panel-size col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <% if bigbluebutton_endpoint_default? %>
            <div class="panel-alert alert alert-danger"><%= t('warning_bigbluebutton_endpoint_default') %></div>
          <% end %>
          <h3 class="title-wrapper text-center">
            <%= yield :title %>
          </h3>
          <%= yield %>
        </div>
        <%= yield :footer %>
        <div class="help-link">
          <%= link_to t('help'), 'http://bigbluebutton.org/videos/', target: '_blank' %>
        </div>
      </div>
    </div>
  </div>
</div>