<h1 class="text-center mt-8"><%= t("features.title") %></h1>

<div class="container text-center">
  <div class="col-12 mt-6">
    <div class="background row feature-stamp">
      <div class="col-3 my-5">
        <i class="fas fa-chalkboard-teacher fa-3x"></i>
        <h4 class="mt-5"><%= t("features.rooms") %></h4>
      </div>
      <div class="col-3 my-5">
        <i class="fas fa-film fa-3x"></i>
        <h4 class="mt-5"><%= t("features.recordings") %></h4>
      </div>
      <div class="col-3 my-5">
        <i class="fas fa-pencil-alt fa-3x"></i>
        <h4 class="mt-5"><%= t("features.designs") %></h4>
      </div>
      <div class="col-3 my-5">
        <i class="fas fa-door-open fa-3x"></i>
        <h4 class="mt-5"><%= t("features.authentication") %></h4>
      </div>
    </div>
  </div>
</div>
