<div class="header py-4">
	<div class="container">
		<div class="d-flex">
			<% if current_user %>
				<%= link_to current_user.main_room, class: "header-brand" do %>
					<%= image_tag("logo_with_text.png", class: "header-brand-img") %>
				<% end %>
			<% else %>
				<%= link_to root_path, class: "header-brand" do %>
					<%= image_tag("logo_with_text.png", class: "header-brand-img") %>
				<% end %>
			<% end %>
			
			<div class="d-flex ml-auto">
				<% if current_user %>
					<a class="px-5 ml-2 mt-1" href="" data-toggle="modal" data-target="#createRoomModal">
						<i class="fas fa-plus"></i>&nbsp; Create Room
					</a>
					<div class="dropdown">
						<a href="#" class="nav-link pr-0" data-toggle="dropdown">
							<% if current_user.image.blank? %>
								<span class="avatar"><%= current_user.name.first %></span>
							<% else %>
								<span class="avatar" style="background-image: url(<%= current_user.image %>)"></span>
							<% end %>
							<span class="ml-2 d-none d-lg-block">
								<span class="text-default username"><%= current_user.name %></span>
							</span>
						</a>
						<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" x-placement="bottom-end">
							<%= link_to current_user.main_room, class: "dropdown-item" do %>
								<i class="dropdown-icon fas fa-home"></i> Home Room	
							<% end %>
							<%= link_to edit_user_path(current_user), class: "dropdown-item" do %>
								<i class="dropdown-icon fe fe-settings"></i> Settings
							<% end %>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="http://docs.bigbluebutton.org/support/faq.html">
								<i class="dropdown-icon fe fe-help-circle"></i> Need help?
							</a>
							<%= link_to logout_path, class: "dropdown-item" do %>
								<i class="dropdown-icon fe fe-log-out"></i> Sign out
							<% end %>
						</div>
					</div>
				<% else %>
					<%= link_to "Login", "#loginModal", :class => "btn btn-pill btn-outline-primary mx-2", "data-toggle": "modal" %>

					<% if allow_user_signup? %>
						<%= link_to "Signup", signup_path, :class => "btn btn-pill btn-outline-primary mx-2" %>
					<% end %>
					
					<%= render "shared/modals/login_modal" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
