<div class="header py-4 mb-6">
	<div class="container">
		<div class="d-flex">
			<%= link_to root_path, class: "header-brand" do %>
				<%= image_tag("bbb_logo.png", class: "header-brand-img") %>
			<% end %>

			<div class="d-flex order-lg-2 ml-auto">
				<% if current_user %>
					<a class="px-3" href="" data-toggle="modal" data-target="#createRoomModal">
						<i class="fas fa-plus"></i> Create Room
					</a>
					<%= render "shared/modals/login_modal" %>
					<a class="px-3" href="">Sessions</a>
					<div class="dropdown">
						<a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
							<% if current_user.image.nil? %>
								<span class="avatar"><%= current_user.name.first %></span>
							<% else %>
								<span class="avatar" style="background-image: url(<%= current_user.image %>)"></span>
							<% end %>
							<span class="ml-2 d-none d-lg-block">
								<span class="text-default"><%= current_user.name %></span>
								<small class="text-muted d-block mt-1"><%= current_user.subtitle %></small>
							</span>
						</a>
						<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" x-placement="bottom-end" style="position: absolute; transform: translate3d(-56px, 32px, 0px); top: 0px; left: 0px; will-change: transform;">
							<a class="dropdown-item" href="#">
								<i class="dropdown-icon fe fe-user"></i> Sessions
							</a>
							<%= link_to settings_path, class: "dropdown-item" do %>
								<i class="dropdown-icon fe fe-settings"></i> Settings
							<% end %>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">
								<i class="dropdown-icon fe fe-help-circle"></i> Need help?
							</a>
							<%= link_to logout_path, class: "dropdown-item" do %>
								<i class="dropdown-icon fe fe-log-out"></i> Sign out
							<% end %>
						</div>
					</div>
				<% else %>
					<button type="submit" class="btn btn-pill btn-outline-primary ml-auto" data-toggle="modal" data-target="#loginModal">Login</button>
					<%= render "shared/modals/login_modal" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
