<div <%= "hidden" if hidden %> class="meeting-url-wrapper">
  <div class="meeting-url-group">
    <input type="text" class="form-control meeting-url"/>
  </div>

  <% if current_user %>
    <% body = t('meeting_invite.signed_in.body', user: current_user.name) %>
    <% subject = t('meeting_invite.signed_in.subject', user: current_user.name) %>
  <% else %>
    <% body = t('meeting_invite.not_signed_in.body') %>
    <% subject = t('meeting_invite.not_signed_in.subject') %>
  <% end %>

  <div class="meeting-url-button-group center-block">
    <button type="button" class="btn btn-default meeting-url-copy has-tooltip"
      title="<%= t('url_copy_explanation') %>"
      data-copied-hint="<%= t('copied') %>"
      data-copy-error="<%= t('copy_error') %>"
      data-copy-hint="<%= t('url_copy_explanation') %>"
    >
      <%= icon('clipboard') %>
    </button>

    <button type="button" class="btn btn-default meeting-invite has-tooltip"
      title="<%= t('meeting_invite.explanation') %>"
      data-invite-body="<%= body %>"
      data-invite-subject="<%= subject %>"
    >
      <%= icon('envelope-o') %>
    </button>

    <button type="button" class="btn btn-default meeting-url-qrcode has-tooltip"
      title="<%= t('qrcode.explanation') %>"
      data-qrcode-generated-hint="<%= t('qrcode.generated') %>"
      data-qrcode-generate-error="<%= t('qrcode.generate_error') %>"
      data-qrcode-generate-hint="<%= t('qrcode.explanation') %>"
    >
      <%= icon('qrcode') %>
    </button>
  </div>
  <div class="meeting-url-qrcode-group center-block has-tooltip"></div>
</div>