<span class="signup">
  <% if current_user %>
  <div class="text-center">
    <% if @main_room %>
      <span><%= t('logged_in_description_html', link: link_to(current_user.name, room_path(current_user))) %></span>
    <% else %>
      <%= link_to(t('return_to_room'), room_path(current_user)) %>
    <% end %>
    <div><%= link_to t('logout'), user_logout_url %></div>
  </div>
  <% else %>
    <div class="text-center">
      <span><%= t('login_description') %></span>
      <div><%= link_to t('login'), user_login_url %></div>
    </div>
  <% end %>
</span>