<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="form-group mt-n3">
  <nav class="row m-0">
    <div class="nav col nav-tabs admin-tabs m-0 p-0" id="manage-users-nav" role="tablist">
      <a class="nav-item p-3 nav-link <%= 'active' if @tab == 'active' %>" id="Active" href="?tab=active" role="tab" aria-selected="true"><i class="fas mr-3 fa-users"></i>
        <%= t("roles.active") %>
      </a>
      <a class="nav-item p-3 nav-link <%= 'active' if @tab == 'pending' %>" id="Pending" href="?tab=pending" role="tab" aria-selected="false"><i class="fas mr-3 fa-user-clock"></i>
        <%= t("roles.pending") %>
      </a>
      <a class="nav-item p-3 nav-link <%= 'active' if @tab == 'denied' %>" id="Denied" href="?tab=denied" role="tab" aria-selected="false"><i class="fas mr-3 fa-user-times"></i>
        <%= t("roles.banned") %>
      </a>
      <a class="nav-item p-3 nav-link <%= 'active' if @tab == 'deleted' %>" id="Deleted" href="?tab=deleted" role="tab" aria-selected="false"><i class="far mr-2 fa-trash-alt"></i>
        <%= t("roles.deleted") %>
      </a>
      <% if admin_invite_registration %>
        <a class="nav-item p-3 nav-link <%= 'active' if @tab == 'invited' %>" id="Invited" href="?tab=invited" role="tab" aria-selected="false"><i class="fas mr-2 fa-envelope"></i>
          <%= t("roles.invited") %>
        </a>
      </div>
      <%= link_to "#inviteModal", class: "btn btn-primary pt-3", id: "invite-user", "data-toggle": "modal" do %>
        <%= t("administrator.users.invite") %><i class="fas fa-paper-plane ml-3"></i>
      <% end %>
    <% else %>
      </div>
    <% end %>
  </nav>
</div>
