<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="list-group list-group-transparent mb-0">
  <% highest_role = current_user.role %>
  <% highest_role.name %>
  <% if highest_role.get_permission("can_manage_users") || highest_role.name == "super_admin" %>
    <%= link_to admins_path, class: "list-group-item list-group-item-action dropdown-item #{"active" if action_name == "index"}" do %>
      <span class="icon nav-icon"><i class="fas fa-users"></i></span><%= t("administrator.users.title") %>
    <% end %>
  <% end %>
  <% if highest_role.get_permission("can_manage_rooms_recordings") || highest_role.name == "super_admin" %>
    <%= link_to admin_rooms_path, class: "list-group-item list-group-item-action dropdown-item #{"active" if action_name == "server_rooms"}" do %>
      <span class="icon nav-icon"><i class="fas fa-binoculars"></i></span><%= t("administrator.rooms.title") %>
    <% end %>
    <%= link_to admin_recordings_path, class: "list-group-item list-group-item-action dropdown-item #{"active" if action_name == "server_recordings"}" do %>
      <span class="icon nav-icon"><i class="fas fa-video"></i></span><%= t("administrator.recordings.title") %>
    <% end %>
  <% end %>
  <% if highest_role.get_permission("can_edit_site_settings") || highest_role.name == "super_admin" %>
    <%= link_to admin_site_settings_path, class: "list-group-item list-group-item-action dropdown-item #{"active" if action_name == "site_settings"}" do %>
      <span class="icon nav-icon"><i class="fas fa-cogs"></i></span><%= t("administrator.site_settings.title") %>
    <% end %>
    <%= link_to admin_room_configuration_path, class: "list-group-item list-group-item-action dropdown-item #{"active" if action_name == "room_configuration"}" do %>
      <span class="icon nav-icon"><i class="fas fa-sliders-h"></i></span><%= t("administrator.room_configuration.title") %>
    <% end %>
  <% end %>
  <% if highest_role.get_permission("can_edit_roles")  || highest_role.name == "super_admin" %>
    <%= link_to admin_roles_path, class: "list-group-item list-group-item-action dropdown-item #{"active" if action_name == "roles"}" do %>
      <span class="icon nav-icon"><i class="fas fa-user-tag"></i></span><%= t("administrator.roles.title") %>
    <% end %>
  <% end %>
</div>