<p>This is a room.</p>

<p><%= @room.user.name %><p>
<p><%= @room.meeting.uid %><p>
<p><%= @room.uid %><p>

<%= link_to 'Sessions', root_path %>
<%= link_to 'Recordings', root_path %>
<%= link_to 'Settings', root_path %>

<p>Click below to join the meeting.</p>

<% if @room.meeting.is_running? %>
  <p>meeting is already running</p>
<% else %>
  <%= form_tag join_room_path, method: :get do %>
    <%= submit_tag 'Start Meeting' %>
  <% end %>
<% end %>

<br><br>

<%= link_to 'Logout', logout_path %>