<div style="padding-left: 80px; padding-right: 80px;">
  <p style="font-size: 40px; margin-bottom: 20px; font-weight: 600;"><%= t('email.invitation.invitation_to_join') %></p>

  <p style="font-size: 24px;"><%= t('email.invitation.you_have_been_invited', name: @name) %></p>

  <p style="font-size: 24px;"><%= t('email.invitation.get_started') %></p>

  <a href="<%= @signup_url %>" target="_blank" style="background-color: <%= @brand_color %>; border-radius: 8px; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; font-weight: 600; margin-top: 16px; margin-bottom: 64px;">
    <%= t('email.invitation.sign_up') %>
  </a>
</div>

<div style="border-top: 2px solid whitesmoke"></div>

<div style="padding: 32px; color: grey;">
  <p><%= t('email.invitation.valid_invitation') %></p>
</div>
