<div style="padding-left: 80px; padding-right: 80px;">
  <p style="font-size: 40px; margin-bottom: 20px; font-weight: 600;"><%= t('email.new_user_signup.new_user') %></p>

  <p style="font-size: 24px;"><%= t('email.new_user_signup.new_user_description') %></p>

  <p style="font-size: 20px;"><%= t('email.new_user_signup.name', name: @user.name) %></p>
  <p style="font-size: 20px;"><%= t('email.new_user_signup.email', email: @user.email) %></p>

  <p style="font-size: 24px;"><%= t('email.new_user_signup.take_action') %></p>

  <a href="<%= @admin_panel_url %>" target="_blank" style="background-color: <%= @brand_color %>; border-radius: 8px; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; font-weight: 600; margin-top: 16px; margin-bottom: 64px;">
    <%= t('email.new_user_signup.admin_panel') %>
  </a>
</div>
