<div style="padding-left: 80px; padding-right: 80px;">
    <p style="font-size: 40px; margin-bottom: 20px; font-weight: 600;"> <%= t('email.reset.password_reset') %> </p>

    <p style="font-size: 24px;"> <%= t('email.reset.password_reset_requested', email: @user.email) %>  </p>

    <a href="<%= @reset_url %>" style="background-color: <%= @brand_color %>; border-radius: 8px; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; font-weight: 600; margin-top: 16px; margin-bottom: 64px;" target="_blank">
      <%= t('email.reset.reset_password') %>
    </a>
</div>

<div style="border-top: 2px solid whitesmoke"></div>

<div style="padding: 32px; color: grey;">
    <p><%= t('email.reset.link_expires') %>  </p>
    <p><%= t('email.reset.ignore_request') %> </p>
</div>
