<%= form_for @user, url: update_user_path, method: :patch do |f|  %>
  <%= hidden_field_tag :setting, "password" %>
  <div class="form-group">
    <div class="row">
      <div class="col-8">
        <%= f.label "Old Password", class: "form-label" %>
        <%= f.password_field :password, class: "form-control" %>
        <br>
        <%= f.label "New Password", class: "form-label" %>
        <%= f.password_field :new_password, class: "form-control" %>
        <br>
        <%= f.label "New Password Confirmation", class: "form-label" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <%= f.submit "Update", class: "btn btn-primary float-right" %>
  </div>
<% end %>
