<div class="page mt-0">
  <div class="page-content mt-0">
    <div class="container text-center">
      <i class="fas fa-database fa-6x mb-4"></i>
      <h1 class="h3 mb-2"><%= t("errors.migration_error.notice") %></h1>
      <p class="h4 text-muted font-weight-normal mb-7"><%= t("errors.migration_error.contact_admin") %></p>
      <h1 class="h3 mb-3"><%= t("errors.migration_error.version") %></h1>
      <a class="btn btn-success mt-3 mx-3" href="http://docs.bigbluebutton.org/install/greenlight-v2.html#upgrading-from-greenlight-10" target="_blank">
        <i class="far fa-star mr-2"></i><%= t("errors.migration_error.upgrade") %>
      </a>
      <a class="btn btn-info mt-3 mx-3 w-20" href="http://docs.bigbluebutton.org/install/greenlight-v2.html#remaining-on-greenlight-10" target="_blank">
        <i class="far fa-hand-paper mr-2"></i><%= t("errors.migration_error.continue") %>
      </a>
    </div>
  </div>
</div>
