<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<% if roles.include?("denied")%>
  <button class="user-role btn btn-sm btn-gray-dark" onclick="filterRole('denied')">
    <%= t("roles.banned") %>
  </button>
<% elsif roles.include?("pending") %>
  <button class="user-role btn btn-sm btn-cyan" onclick="filterRole('pending')">
    <%= t("roles.pending") %>
  </button>
<% elsif roles.include?("super_admin") %>
  <button class="user-role btn btn-sm btn-red" onclick="filterRole('super_admin')">
    <%= t("roles.super_admin") %>
  </button>
<% elsif roles.include?("admin") %>
  <button class="user-role btn btn-sm btn-yellow" onclick="filterRole('admin')">
    <%= t("roles.administrator") %>
  </button>
<% else %>
  <button class="user-role btn btn-sm btn-gray" onclick="filterRole('user')">
    <%= t("roles.user") %>
  </button>
<% end %>