<tr>
  <td>
    <div><%= recording[:name] %></div>
    <div class="small text-muted">
      Recorded on <%= recording_date(recording[:startTime]) %>
    </div>
  </td>
  <td>
    <% p = recording[:playbacks].find do |p| p[:type] == "presentation" end %>
    <% if p %>
      <% p[:preview][:images][:image].each do |img| %>
        <%= image_tag(img[:content], class: "thumbnail px-2") %>
      <% end %>
    <% end %>
  </td>
  <td class="text-left">
    <div class="small text-muted text-uppercase">
      Length
    </div>
    <%= recording_length(recording[:startTime], recording[:endTime]) %>
  </td>
  <td class="text-left">
    <div class="small text-muted text-uppercase">
      Users
    </div>
    <%= recording[:participants] %>
  </td>
  <td class="text-left">
    <div class="dropdown">
      <% if recording[:metadata]["gl-listed"] %>
        <button class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown"><i class="dropdown-icon fe fe-globe px-2"></i> Public</button>
      <% else %>
        <button class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown"><i class="dropdown-icon fe fe-link px-2"></i> Unlisted</button>
      <% end %>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= button_to update_recording_path(@room, record_id: recording[:recordID], state: "public"), class: "dropdown-item" do %>
          <i class="dropdown-icon fe fe-globe"></i> Public
        <% end %>
        <%= button_to update_recording_path(@room, record_id: recording[:recordID], state: "unlisted"), class: "dropdown-item" do %>
          <i class="dropdown-icon fe fe-link"></i> Unlisted
        <% end %>
      </div>
    </div>
  </td>
  <td>
    <% recording[:playbacks].each do |p| %>
      <%= link_to p[:type].capitalize, p[:url], class: "btn btn-sm btn-primary", target: "_blank" %>
    <% end %>
  </td>
  <td class="text-center">
    <div class="item-action dropdown">
      <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item email-link" data-pres-link="<%= p[:url] %>"><i class="dropdown-icon far fa-envelope"></i> Email Recording</a>
        <div class="dropdown-divider"></div>
        <%= button_to delete_recording_path(@room, record_id: recording[:recordID]), method: :delete, class: "dropdown-item" do %>
          <i class="dropdown-icon far fa-trash-alt"></i> Delete
        <% end %>
      </div>
    </div>
  </td>
</tr>
