<div class="card">
  <div class="card-body p-1">
    <table class="table table-hover table-vcenter text-nowrap table-no-border">
      <tbody class="no-border-top">
        <td>
          <span class="stamp stamp-md bg-cyan">
            <% if room == current_user.main_room %>
              <i class="fas fa-home"></i>
            <% else %>
              <i class="fas fa-chalkboard-teacher"></i>
            <% end %>
          </span>
        </td>
        <td>
          <h4 class="m-0 force-text-normal"><%= room.name %></h4>
          <div class="small text-muted">
            <% if room.sessions > 0 %>
              <i><%= t("room.last_session", session: recording_date(room.last_session)) %></i>
            <% else %>
              <i><%= t("room.no_sessions") %></i>
            <% end %>
          </div>
        </td>
        <td class="text-right">
          <div class="item-action dropdown">
            <a href="javascript:void(0)" data-toggle="dropdown" class="icon <%= 'invisible' if room == current_user.main_room %>"><i class="fas fa-ellipsis-v px-4"></i></a>
            <div class="dropdown-menu">
              <!--
              <%= link_to room, class: "dropdown-item" do %>
                <i class="dropdown-icon fas fa-cog"></i> <%= t("room.settings") %>
              <% end %>
              -->
              <a href="" data-toggle="modal" data-target="#deleteRoomModal_<%= room.uid %>"class="dropdown-item">
                <i class="dropdown-icon far fa-trash-alt"></i> <%= t("delete") %>
              </a>
            </div>
          </div>
        </td>
      </tbody>
    </table>
  </div>
</div>
