<div class="card">
  <div class="card-body p-1">
    <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
      <tbody>
        <td>
          <span class="stamp stamp-md bg-primary mr-3">
            <i class="fas fa-<%= room.icon %>"></i>
          </span>
        </td>
        <td>
          <div><%= room.name %></div>
          <div class="small text-muted">
            <i>Created on <%= room.created_at.strftime("%B #{room.created_at.day.ordinalize}, %Y.") %></i>
          </div>
        </td>
        <td class="text-right">
          <div class="item-action dropdown">
            <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
              <%= button_to root_path, class: "dropdown-item" do %>
                <i class="dropdown-icon fe fe-home"></i> Make Home Room
              <% end %>
              <% if room != current_user.main_room %>
                <%= button_to room, method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" do %>
                  <i class="dropdown-icon fe fe-trash"></i> Delete
                <% end %>
              <% end %>
            </div>
          </div>
        </td>
      </tbody>
    </table>
  </div>
</div>
