<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="card">
  <div class="card-body p-1">
    <table class="table table-hover table-vcenter text-nowrap table-no-border">
      <tbody class="no-border-top">
        <td>
          <span class="stamp stamp-md bg-cyan">
            <% if room == current_user.main_room %>
              <i class="fas fa-home"></i>
            <% else %>
              <i class="fas fa-chalkboard-teacher"></i>
            <% end %>
          </span>
        </td>
        <td>
          <div id="room-name_<%= room.uid %>" class="toggle-content is-visible">
            <h4 contenteditable="false" class="m-0 force-text-normal" ><%= room.name %></h4>
          </div>
          <div id="room-name-editable_<%= room.uid %>" class="toggle-content">
            <input id="room-name-editable-input_<%= room.uid %>", class="form-control input-sm w-100 h-4", value=<%= room.name %>>
            <!-- <%= form_tag update_room_path, class: "form-inline", params:{ setting: :rename }, method: :patch do %>
              <%= 
                id = 'room-name-editable-input_%{room_uid}'
                repl = {room_uid: room.uid}
                text_field_tag id % repl, room.name, class: "form-control input-sm w-100 h-4" 
              %>
            <% end %> -->
          </div>
          <div class="small text-muted">
            <% if room.sessions > 0 %>
              <i><%= t("room.last_session", session: recording_date(room.last_session)) %></i>
            <% else %>
              <i><%= t("room.no_sessions") %></i>
            <% end %>
          </div>
        </td>
        <td class="text-right">
          <div class="item-action dropdown">
            <a href="javascript:void(0)" data-toggle="dropdown" class="icon <%= 'invisible' if room == current_user.main_room %>">
              <i class="fas fa-ellipsis-v px-4"></i>
            </a>
            <div class="dropdown-menu">
              <!--
              <%= link_to room, class: "dropdown-item" do %>
                <i class="dropdown-icon fas fa-cog"></i> <%= t("room.settings") %>
              <% end %>
              -->
              <!-- 
              <a href="javascript:void(0)" data-toggle="modal" data-target="#renameRoomModal_<%= room.uid %>"class="dropdown-item">
                <i class="dropdown-icon far fa-edit"></i> <%= t("rename") %>
              </a>
              -->
              <a href="" id="rename-room-button_<%= room.uid %>" class="dropdown-item">
                <i class="dropdown-icon far fa-edit"></i> <%= t("rename") %>
              </a>
              <a href="" data-toggle="modal" data-target="#deleteRoomModal_<%= room.uid %>"class="dropdown-item">
                <i class="dropdown-icon far fa-trash-alt"></i> <%= t("delete") %>
              </a>
            </div>
          </div>
        </td>
      </tbody>
    </table>
  </div>
</div>

<!-- <script>
var roomRenameValidations = function(){
  if($('#room-name').val().length == 0){
    $('#room-name').addClass("is-invalid");
  }
}

$('#rename-room-submit').on('click', roomRenameValidations);

function helloWorld(){
  alert("hello world");
}

var renameRoom = function(e){
  //alert('room-name_<%= room.uid %>');
  var room_name = document.getElementById('room-name_<%= room.uid %>');
  var room_name_editable = document.getElementById('room-name-editable_<%= room.uid %>');
  var room_name_editable_input = document.getElementById('room-name-editable-input_<%= room.uid %>');
  if (room_name.classList.contains("is-visible")) {
    //alert("Yes");
    room_name.classList.remove("is-visible");
    room_name_editable.classList.add("is-visible");
    room_name_editable_input.select();
  }
  //roomBlockRenamable();
  //alert($._data(window, "events"));
  //addRenameListener();
  e.preventDefault();
}

var submitRename = function(e){
  //alert('rename-room-button_<%= room.uid %>');
  var room_name_button = document.getElementById('rename-room-button_<%= room.uid %>');
  var room_name = document.getElementById('room-name_<%= room.uid %>');
  var room_name_editable = document.getElementById('room-name-editable_<%= room.uid %>');
  var room_name_editable_input = document.getElementById('room-name-editable-input_<%= room.uid %>');
  //alert(room_name_editable_input.value);
  if (e.target == room_name_button || e.target == document.getElementsByClassName("fa-edit")[0]) {
    //alert("Yes");
  }
else if(room_name_editable.classList.contains("is-visible")){
    //Run Ajax patch method

    $.ajax({
      url: "<%= update_room_path %>",
      type: "PATCH",
      data:{
        settings: "rename",
        room_name: room_name_editable_input.value,
      },
      success: function(data){
        console.log("Success");
        //alert("Success");
      },
    });

    //room_name.classList.add("is-visible");
    //room_name_editable.classList.remove("is-visible");
  }
  //roomBlockUnrenamable();
  //window.removeEventListener("click", submitRename);
  //removeRenameListener();
}

/*var renameRoom = function(e) {
  //alert("So its just the script that isn't working");
  var room_name = document.getElementById('room-name_<%= room.uid %>');
  var room_name_editable = document.getElementById('room-name-editable_<%= room.uid %>');
  var room_name_editable_input = document.getElementById('room-name-editable-input_<%= room.uid %>');
  if (room_name.classList.contains("is-visible")) {
    //alert("Yes");
    //alert(room_name.classList);
    //alert($('#room-name_<%= room.uid %>').classList);
    //$('#room-name_<%= room.uid %>').classList.remove("is-visible");
    room_name.classList.remove("is-visible");
    room_name_editable.classList.add("is-visible");
    alert(document.getElementsByTagName('text_field_tag')[0]);
    alert(room_name_editable_input);
    room_name_editable_input.select();
    //$('#room-name-editable_<%= room.uid %>').classList.add("is-visible");
  }
  else {
    room_name.classList.add("is-visible");
    room_name_editable.classList.remove("is-visible");
    //$('#room-name_<%= room.uid %>').classList.add("is-visible");
    //$('#room-name-editable_<%= room.uid %>').classList.remove("is-visible");
  }
  alert("Is redirection the problem?");
  e.preventDefault();
}*/

$('#rename-room-button_<%= puts room.uid
room.uid %>').on('click', renameRoom);

//function addRenameListener(){
  window.addEventListener("click", submitRename);
/*}

function removeRenameListener(){
  window.removeEventListener("click", submitRename);
}*/
</script> -->