<% stream_data = streaming_data %>
<% start_disable = streaming_running_meetings.length > 0 ? false : true%>
<% disabled = stream_data ? true : false %>
<% streaming = if stream_data["running"] then true else false end %>
<% checked = if stream_data["show_presentation"] == "true" then true else false end %>
<div class="container">
  <div class="row pt-7">
    <div class="col col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-header background d-block">
          <h4 class="mt-2">Live Streaming</h4>
         <ul class="list-unstyled mt-3 mb-4">
         <li> Step 1: Start a meeting.</li>
         <li> Step 2: Enter RTMP URL, Streaming Key and Viewer URL.</li>
         <li> Step 3: Select the meeting you started in Step 1 and press "Start" button to stream.</li>
          <li>NOTE: You MUST start a meeting BEFORE creating a streaming</li>
          </ul>
        </div>
        <div class="card-body background">
        <% if streaming%>
          <h4 class="mt-2"><%=stream_data["meeting_name"]%>  is being streamed</h4>
        <% end %>
            <%= form_for @streaming, url: streaming_path, method: :post do |f|  %>
                <div class="form-group">
                    <%= f.label :url, "RTMP URL", class: "form-label" %>
                    <%= f.text_field :url, class: "form-control #{form_is_invalid?(@streaming, :url)}", placeholder: "RTMP URL from YouTube, Facebook or others", autofocus: "", required: "", value: stream_data["rtmp_url"], readonly: streaming %>
                    <div class="invalid-feedback d-block"><%= @streaming.errors.full_messages_for(:url).first %></div>
                </div>
                <div class="form-group">
                    <%= f.label :streaming_key, "Streaming KEY", class: "form-label" %>
                    <%= f.text_field :streaming_key, class: "form-control #{form_is_invalid?(@streaming, :streaming_key)}", placeholder: "Streaming KEY from YouTube, Facebook or others", autofocus: "", required: "", value: stream_data["streaming_key"], readonly: streaming %>
                    <div class="invalid-feedback d-block"><%= @streaming.errors.full_messages_for(:streaming_key).first %></div>
                </div>
                <div class="form-group">
                    <%= f.label :viewer_url, "Viewer URL", class: "form-label" %>
                    <%= f.text_field :viewer_url, class: "form-control #{form_is_invalid?(@streaming, :viewer_url)}", placeholder: "URL to view Live streaming", autofocus: "", required: "", value: stream_data["viewer_url"], readonly: streaming %>
                    <div class="invalid-feedback d-block"><%= @streaming.errors.full_messages_for(:viewer_url).first %></div>
                </div>
                <div class="form-group">
                 <label class="custom-switch pl-0 mt-3 mb-3 w-100 text-left d-inline-block">
                <span class="ml-0 custom-switch-description" style="font-weight: 550;color:#555">Show presentation</span>
                <%= f.check_box :show_presentation, checked: checked, class: "custom-switch-input"%>
                <span class="custom-switch-indicator float-right"></span>
                 </label>
                  <p style="font-size:0.9em">Enable toggle to display presentation pod (i.e.,PPTx/PDF) along with webcam videos.<br>Disable the toggle to display only the webcam videos during live stream.</p>
                </div>

                <% if (stream_data["pid"] == 0) && !stream_data["runnng"] %>
                  <div class="form-group">
                      <%= f.label :meeting_id, "Select the meeting to stream", class: "form-label mt-5" %>
                      <select id="streaming_meeting_id" name="streaming[meeting_id]" class="selectpicker show-tick w-50">
                          <% streaming_running_meetings.each do |meeting_id, meeting_title| %>
                          <option value="<%= meeting_id %>"><%= meeting_title %></option>
                          <% end %>
                      </select>
                  </div>

                  <div class="form-group">
                    <%= f.submit "Start", class: "btn btn-outline-primary mx-2 sign-in-button", :disabled => start_disable %>
                    
                <% else %>
                    <%= f.submit "Stop", class: "btn btn-danger mx-2 sign-in-button", :disabled => !disabled %>
                <% end %>
                </div>
            <% end %>
        </div>
      </div>  
    </div>
  </div>  
</div> 