<!DOCTYPE html>
<html>
  <head>
    <title>Greenlight</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>">
    <!-- Messages -->
    <div id='messages' class='hidden'>
    </div>

    <!-- Header -->
    <div class='navbar'>
      <div class='container'>
        <%= link_to image_tag("bbb-logo.png", :alt => "BigBlueButton Demo", :class => "center-block"), root_path %>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
