<!DOCTYPE html>
<html>
  <head>
    <title>Greenlight20</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="app-background" data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>">
    <div class="wrapper">

      <!-- Messages -->
      <div id='alerts'>
        <div class='flash-alerts'>
          <% flash.each do |name, msg| %>
            <div class="alert alert-<%= name %> alert-dismissible fade in" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <span class="alert-message"><%= msg %></span>
            </div>
          <% end %>
        </div>
      </div>

      <%= render "shared/header" %>

      <% if bigbluebutton_endpoint_default? %>
        <%= render "shared/error_banner" %>
      <% end %>

      <%= yield %>

      <!-- Modal Load -->
      <% if current_user %>
        <%= render "shared/modals/create_room_modal" %>
      <% end %>

    </div>

    <%= render "shared/footer" %>
  </body>
</html>
