<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Greenlight</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="app-background" data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>">
    <!-- Messages -->
    <div id='alerts'>
    </div>

    <!-- Header -->
    <div class='header'>
      <span class="logo-wrapper pull-left">
        <%= link_to image_tag("bbb-logo.png", :alt => "BigBlueButton", :class => "logo"), root_path %>
      </span>
      <span class="signup pull-right">
        <% if current_user %>
          <% if !@user %>
            <%= link_to current_user.name, current_user.room_url %> |
          <% else %>
            <%= current_user.name %> |
          <% end %>
          <%= link_to t('logout'), user_logout_url %>
        <% elsif @user %>
          <%= t('are_you', name: @user.username) %> |
          <%= link_to t('login'), "/auth/#{@user.provider}" %>
        <% else %>
          <% if omniauth_providers_configured.present? %>
            <span class="signup-description hidden-xs">
              <%= t('oauth_signup') %>
            </span>
          <% end %>
          <% if omniauth_providers_configured(:twitter) %>
            <%= link_to('/auth/twitter', :class => "btn icon btn-lg btn-social-icon btn-twitter") do %>
              <span class="fa fa-twitter"></span>
            <% end %>
          <% end %>
          <% if omniauth_providers_configured(:google) %>
            <%= link_to('/auth/google', :class => "btn icon btn-lg btn-social-icon btn-google") do %>
              <span class="fa fa-google"></span>
            <% end %>
          <% end %>
        <% end %>
      </span>
    </div>
    <!-- End of Header -->

    <%= yield %>

    <!-- Footer -->
    <div class='footer text-center'>
      <%= t('powered_bigbluebutton_html', link: link_to('BigBlueButton', 'http://bigbluebutton.org/', target: "_blank")) %>
    </div>
    <!-- End of Footer -->
  </body>
</html>

<script type="text/javascript">
  window.I18n = <%= client_translations.to_json.html_safe %>
</script>
