<!DOCTYPE html>
<html>
  <head>
    <title>Greenlight</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!-- Global javascript variables and helpers. -->
    <script type="text/javascript">
      window.GreenLight = {};
      window.GreenLight.WEBSOCKET_HOST = "<%= ENV['WEBSOCKET_HOST'] %>"
      window.GreenLight.RELATIVE_ROOT = "<%= relative_root %>"
    </script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="app-background" data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>">
    <div class="wrapper">

      <%= render "shared/header" %>

      <% if bigbluebutton_endpoint_default? %>
        <%= render "shared/error_banner" do %>
          <i class="fas fa-exclamation-triangle"></i>
          <p class="d-inline">This deployment is using a pre-configured testing server,
          you should replace this with your own.
          For details, see the <%= link_to "documentation", "http://docs.bigbluebutton.org/install/green-light.html#installing-greenlight", target: "_blank" %>.
        <% end %>
      <% end %>

      <% unless Rails.configuration.banner_message.blank? %>
        <%= render "shared/error_banner" do %>
          <p class="d-inline"><%= Rails.configuration.banner_message %></p>
        <% end %>
      <% end %>

      <%= yield %>

      <% if current_user %>
        <%= render "shared/modals/create_room_modal" %>
      <% end %>

    </div>

    <%= render "shared/footer" %>
  </body>
</html>
